* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
}

.container {
    display: flex;
    height: 70px;
    width: 700px;
    gap: 10px;
    margin: 10px 0px;
} 

.color {
    display: flex;
    width: 10%;
    border: 1px solid black;
}  

#pixel-board {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
}

.pixel {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background: white;
}

.limpar {
    border: none;
    padding: 3px 10px;
    margin: 10px 0px;
    border-radius: 5px;
    color: white;
    background-color: rgb(178, 34, 123);
}